.red{
  background: red;
  font-width: bold;
  color: #fff;
}
.blue{
  background: blue;
  font-size: 1.5rem;
  color: #fff;
}
.wrap {
  padding-top: 3rem;
  width: 500px;
  margin: 0 auto;
}
.box {
  width: 1000px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
