<h1>  О нас! </h1>

<p> Весело провести время в душевной компании, легко !</p> <br>

<p>    С нами ты сможешь все и даже немного больше!</p> <br>

<p>    Сальто уже на 1й тренировке !</p>  <br>

<p>    Стойка на 1й руке, горизонт, шпагат!</p> <br>

<p>    Можно долго слушать советы... а можно прийти попробовать и решить для себя!</p> <br>

<p>  8 916 840 29 27  звони и записывайся!</p> <br> <br>

<p><a [routerLink]="['/about-O-nas', 'extra']" >нажми и получи приятный бонус</a></p>
<router-outlet></router-outlet>
